body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #333;
}

.image-container {
    margin-bottom: 20px;
}

.image {
    max-height: 300px;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.controls {
    margin-bottom: 20px;
}


button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input[type="file"] {
    display: none;
}

select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}
